name: "01 Continuous Integration"
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    build:
        permissions:
            checks: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.1

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "20"

            - name: Setup .NET Core SDK
              uses: actions/setup-dotnet@v5.0.1
              with:
                  dotnet-version: "8.0.x"

            - name: Install & Run Azurite
              run: |
                  npm install -g azurite
                  npx azurite-table &
                  npx azurite-queue &
                  npx azurite-blob &

            - name: build and test
              run: |
                  dotnet build --configuration Release
                  dotnet test --configuration Release --verbosity normal --logger trx --collect:"XPlat Code Coverage"

            - name: Publish Test Results
              uses: EnricoMi/publish-unit-test-result-action@v2.16.1
              if: always()
              with:
                  files: "**/*.trx"
